{#
 # Experience index template
 # -------------------
 #}

{% extends "_layout" %}

{% block content %}

  <div class="section">

    <div class="intro">
      <h1 class="intro--title fadeInUp js-waypointitem">
        {{ entry.title }}
      </h1>
    </div>

    <div class="table__container">
      {% include '_partials/content-blocks' %}
    </div>

  </div>

{% endblock %}
