*.idea/*
Source/.idea/*
*.log
*.bak
*.DS_Store
*.orig
*Thumbs.db
*aspnet_client/*
Build/*
node_modules/
/bower_components
yarn.lock
dummy-host2.example.com-*

public/images/
public/scripts/
public/styles/

### Sass template
.sass-cache/*
*.sass-cache
*.css.map
