{#
 # Education index template
 # -------------------
 #
 # This template is loaded whenever http://example.com/education is
 # requested, because it is located at static/education.html in your
 # craft/templates/ folder.
 #
 # See this page for more details on how Craft routes requests:
 # http://craftcms.com/docs/routing
 #}

{% extends "_layout" %}
{% set title = "Education" %}

{% block content %}

  <div class="section">

    <div class="intro">
      <h1 class="intro--title fadeInUp js-waypointItem">
        {{ entry.title }}
      </h1>
    </div>

    <!-- row -->
    <div class="table fadeInUp js-waypointItem">

      <div class="table--meta">
        <h2 class="table--meta-title">
          Grafisch Lyceum
        </h2>
        <h3 class="table--meta-location">
          Utrecht
        </h3>
        <div class="table--meta-duration">
          2006 – 2010
        </div>
      </div>

      <div class="table--body">
        <h2 class="table--body-title">
          Interactief Vormgeven
        </h2>
      </div>

    </div>

    <!-- row -->
    <div class="table fadeInUp js-waypointItem">

      <div class="table--meta">
        <h2 class="table--meta-title">
          Comenius College
        </h2>
        <h3 class="table--meta-location">
          Hilversum
        </h3>
        <div class="table--meta-duration">
          2001 – 2005
        </div>
      </div>

      <div class="table--body">
        <h2 class="table--body-title">
          MAVO
        </h2>
      </div>

    </div>

  </div>

{% endblock %}
