{#
 # Experience index template
 # -------------------
 #
 # This template is loaded whenever http://example.com/experience is
 # requested, because it is located at static/experience.html in your
 # craft/templates/ folder.
 #
 # See this page for more details on how Craft routes requests:
 # http://craftcms.com/docs/routing
 #}

{% extends "_layout" %}
{% set title = "Experience" %}

{% block content %}
  <div class="block__section">

    <div class="block__intro">
      <h1 class="block__intro--title">
        {{ entry.title }}
      </h1>
    </div>

    <!-- row -->
    <div class="block__table">

      <div class="block__table--meta">
        <h2 class="block__table--meta-title">
          Front-end developer
        </h2>
        <h3 class="block__table--meta-location">
          Amsterdam
        </h3>
        <div class="block__table--meta-duration">
          January 2012 – Present
        </div>
      </div>

      <div class="block__table--body">
        <h2 class="block__table--body-title">
          Bravoure
        </h2>
        <div class="block__table--body-text">
          As Front-end developer in this multidisciplinary team, I have worked on award winning websites such as: Amsterdam Dance Event, CJP, Awakenings, Dekmantel, Brunel. Next to that I am responsible for our Email Marketing. Improving email templates for our clients and working on mobile solutions.
         </div>
      </div>

    </div>

    <!-- row -->
    <div class="block__table">

      <div class="block__table--meta">
        <h2 class="block__table--meta-title">
          Front-end developer
        </h2>
        <h3 class="block__table--meta-location">
          Utrecht
        </h3>
        <div class="block__table--meta-duration">
          September 2010 - January 2012
        </div>
      </div>

      <div class="block__table--body">
        <h2 class="block__table--body-title">
          Seventy Two
        </h2>
        <div class="block__table--body-text">
          As Seventy two I started my online identity by designing and developing websites. I have worked for many different clients ranging from smaller to medium sized projects.<br/>
          <br/>
          <ul>
            <li>Branding</li>
            <li>Design and development of websites and ecommerce</li>
            <li>Advising clients</li>
          </ul>
         </div>
      </div>

    </div>

    <!-- row -->
    <div class="block__table">

      <div class="block__table--meta">
        <h2 class="block__table--meta-title">
          Internship
        </h2>
        <h3 class="block__table--meta-location">
          Harderwijk
        </h3>
        <div class="block__table--meta-duration">
          September 2009 - February 2010
        </div>
      </div>

      <div class="block__table--body">
        <h2 class="block__table--body-title">
          Adena Internet
        </h2>
        <div class="block__table--body-text">
          As Front-end developer in this multidisciplinary team, I have worked on award winning websites such as: Amsterdam Dance Event, CJP, Awakenings, Dekmantel, Brunel. Next to that I am responsible for our Email Marketing. Improving email templates for our clients and working on mobile solutions.
         </div>
      </div>

    </div>

    <!-- row -->
    <div class="block__table">

      <div class="block__table--meta">
        <h2 class="block__table--meta-title">
          Internship
        </h2>
        <h3 class="block__table--meta-location">
          Zeist
        </h3>
        <div class="block__table--meta-duration">
          February 2009 - July 2009
        </div>
      </div>

      <div class="block__table--body">
        <h2 class="block__table--body-title">
          Wennet
        </h2>
        <div class="block__table--body-text">
          As intern in this small team, I worked with a great diversity of clients and projects. I was responsible for a good part of development for a large community.
         </div>
      </div>

    </div>

    <!-- row -->
    <div class="block__table">

      <div class="block__table--meta">
        <h2 class="block__table--meta-title">
          Internship
        </h2>
        <h3 class="block__table--meta-location">
          Zeist
        </h3>
        <div class="block__table--meta-duration">
          February 2008 - July 2008
        </div>
      </div>

      <div class="block__table--body">
        <h2 class="block__table--body-title">
          Wennet
        </h2>
        <div class="block__table--body-text">
          As intern in this small team, I worked with a great diversity of clients and projects. I was responsible for a good part of development for a large community.
         </div>
      </div>

    </div>

  </div>

{% endblock %}
