
/***[ typography ]***********************************************/

html {
    color: $white;
    font-family: 'Roboto', sans-serif;
    font-size: $base-font-size;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    font-size: inherit;
}

p {
    margin-bottom: 16px;
}


/***[ selection ]***********************************************/

::-moz-selection {
    background: $selection-color;
    color: $selection-text-color;
    text-decoration: none;
    text-shadow: none;
}
::selection {
    background: $selection-color;
    color: $selection-text-color;
    text-decoration: none;
    text-shadow: none;
}
