
/***[ table ]***********************************************/

.block__table {
	border-bottom: 1px solid $base-color-4;
	border-top: 1px solid $base-color-4;
	padding: 20px 0;
	opacity: 0;
	width: 100%;
	transform: translateY(100px);
  transition: all .8s;

	@include respond-to(sm) {
		@include clearfix();
		padding: 40px 0;
	}

	& + .block__table {
		border-top: none;
	}

	&.is-animated {
    opacity: 1;
    transform: translateY(0px);
	}
}

// meta information
.block__table--meta {
	margin-bottom: 20px;

	@include respond-to(sm) {
		box-sizing: border-box;
		float: left;
		padding-right: 40px;
		width: 260px;
	}
}

.block__table--meta-title {
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	font-weight: 700;
}

.block__table--meta-location {
	color: $base-color-2;
	font-family: 'Noto Serif', serif;
	font-size: 14px;
	line-height: 20px;
}

.block__table--meta-duration {
	font-size: 13px;
	letter-spacing: 2px;
	text-transform: uppercase;
}

// main information
.block__table--body {
	@include respond-to(sm) {
		box-sizing: border-box;
		float: left;
		padding-left: 40px;
		position: relative;
		width: calc(100% - 260px);

		&:before {
			background-color: $base-color-4;
			bottom: 0;
			content: ' ';
			left: 0;
			position: absolute;
			top: 0;
			width: 1px;
		}
	}
}

.block__table--body-title {
	font-family: 'Roboto', sans-serif;
	font-size: 36px;
	font-weight: 700;
	line-height: 1;
}

.block__table--body-text {
	color: $base-color-2;
	font-family: 'Noto serif', serif;
	font-size: 16px;
	line-height: 28px;
	margin-top: 20px;
}
