
/***[ intro ]***********************************************/

.intro--subtitle {
	color: $base-color-2;
	font-size: 18px;
	font-weight: 700;
	line-height: 24px;
	opacity: 0;
	transform: translateY(40px);

	@include respond-to(md) {
		font-size: 22px;
		line-height: 30px;
	}
}

.intro--title {
	font-size: 36px;
	font-weight: 700;
	line-height: 48px;

	@include respond-to(md) {
		font-size: 48px;
		line-height: 64px;
	}
}

.intro--title-secundary {
	color: $base-color-2;
	font-family: 'Noto Serif', serif;
	font-size: 14px;
	font-style: italic;
	line-height: 20px;

	@include respond-to(md) {
		font-size: 18px;
		line-height: 24px;
	}
}

.intro--body {
	color: $base-color-2;
	font-family: 'Noto Serif', serif;
	font-size: 16px;
	line-height: 28px;
	margin-top: 40px;
	opacity: 0;
	transform: translateY(40px);
  transition: transform .7s $easeOutCubic .3s, opacity .5s $easeOutCubic .3s;

	@include respond-to(sm) {
		max-width: 500px;
	}

	@include respond-to(md) {
		max-width: 680px;
		margin-top: 80px;
	}
}
