
<footer class="footer js-inview">
  This goes out to the whole wide website<br/>
  Copyright {{ now.year }} • Built with <a href="http://craftcms.com" target="_blank" title="Craft">Craft</a>
</footer>
