
// media querie values
$break-small: 736px;
$break-large: 1279px;
$break-large-2: 1439px;
$break-large-3: 1600px;

// responsive media queries
@mixin respond-to($media) {
    @if $media == xs {
        @media only screen and (max-width: $break-small) {
            @content;
        }
    } @else if $media == sm {
        @media only screen and (min-width: $break-small + 1) {
            @content;
        }
    } @else if $media == md {
        @media only screen and (min-width: $break-large) {
            @content;
        }
    } @else if $media == lg {
        @media only screen and (min-width: $break-large-2) {
            @content;
        }
    } @else if $media == xl {
        @media only screen and (min-width: $break-large-3) {
            @content;
        }
    }
}
