
// color
$white: #ffffff;
$black: #000000;

$base-color-1: #171717;
$base-color-2: #999999;
$base-color-3: #F8E71C;
$base-color-4: #262626;

$base-font-size: 14px;

$selection-color: red;
$selection-text-color: $white;
