
/***[ table ]***********************************************/

.table__container {
	margin-top: 30px;

	@include respond-to(md) {
		margin-top: 40px;
	}
}

.table {
	border-bottom: 1px solid $base-color-4;
	border-top: 1px solid $base-color-4;
	padding: 20px 0;
	width: 100%;

	@include respond-to(sm) {
		@include clearfix();
		padding: 40px 0;
	}

	& + .table {
		border-top: none;
	}
}

// meta information
.table--meta {
	margin-bottom: 20px;

	@include respond-to(md) {
		box-sizing: border-box;
		float: left;
		padding-right: 40px;
		width: 320px;
	}
}

.table--meta-title {
	font-size: 18px;
	font-weight: 700;
}

.table--meta-location {
	color: $base-color-2;
	font-family: 'Noto Serif', serif;
	font-size: 14px;
	line-height: 20px;
}

.table--meta-duration {
	font-size: 13px;
	letter-spacing: 2px;
	text-transform: uppercase;
}

// main information
.table--body {
	@include respond-to(md) {
		box-sizing: border-box;
		float: left;
		padding-left: 40px;
		position: relative;
		width: calc(100% - 320px);

		&:before {
			background-color: $base-color-4;
			bottom: 0;
			content: ' ';
			left: 0;
			position: absolute;
			top: 0;
			width: 1px;
		}
	}
}

.table--body-title {
	font-size: 36px;
	font-weight: 700;
	line-height: 1;
}

.table--body-text {
	color: $base-color-2;
	font-family: 'Noto Serif', serif;
	font-size: 16px;
	line-height: 28px;
	margin-top: 20px;

	li {
		list-style: none;
	}
}
