
/***[ row ]***********************************************/

.row__container {
	margin-top: 30px;

	@include respond-to(md) {
		margin-top: 40px;
	}
}

.row {
	border-bottom: 1px solid $base-color-4;
	border-top: 1px solid $base-color-4;
	padding: 20px 0;
	opacity: 0;
	transform: translateY(40px);
  transition: transform .7s $ease-out-cubic 0s, opacity 0.5s $ease-out-cubic 0s;
	width: 100%;

	@include respond-to(sm) {
		@include clearfix();
		padding: 40px 0;
	}

	& + .row {
		border-top: none;
	}

	&.is-animated {
		opacity: 1;
		transform: translateY(0);
	}
}

// meta information
.row-meta {
	margin-bottom: 20px;

	@include respond-to(md) {
		box-sizing: border-box;
		float: left;
		padding-right: 40px;
		width: 320px;
	}
}

.row-meta__title {
	font-size: 18px;
	font-weight: 700;
}

.row-meta__location {
	color: $base-color-2;
	font-family: $font-family-serif;
	font-size: 14px;
	line-height: 20px;
}

.row-meta__duration {
	font-size: 13px;
	letter-spacing: 2px;
	text-transform: uppercase;
}

// main information
.row-body {
	@include respond-to(md) {
		box-sizing: border-box;
		float: left;
		padding-left: 40px;
		position: relative;
		width: calc(100% - 320px);

		&:before {
			background-color: $base-color-4;
			bottom: 0;
			content: ' ';
			left: 0;
			position: absolute;
			top: 0;
			width: 1px;
		}
	}
}

.row-body__title {
	font-size: 36px;
	font-weight: 700;
	line-height: 1;
}

.row-body__text {
	color: $base-color-2;
	font-family: $font-family-serif;
	font-size: 16px;
	line-height: 28px;
	margin-top: 20px;

	li {
		list-style: none;
	}
}
