{#
# Layout template
# ---------------
#
# This template defines your site’s global layout. It can be
# “extended” by other templates to fill in the gaps.
#
# See Twig’s Template Inheritance documentation for more details:
# http://twig.sensiolabs.org/doc/templates.html#template-inheritance
#}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% if title is defined %}{{ title }} - {% endif %}{{ siteName }}</title>
    <base href="{{ siteUrl }}">

    <meta name="description" content="150 chars">
    <meta name="robots" content="index,follow,noodp">
    <meta name="googlebot" content="index,follow">
    <meta name="google" content="nositelinkssearchbox">
    <meta name="google-site-verification" content="verification_token">
    <meta name="classification" content="business">
    <meta name="url" content="{{ siteUrl }}">

    <!-- facebook OG -->
    <meta property="fb:app_id" content="">
    <meta property="og:url" content="{{ siteUrl }}">
    <meta property="og:type" content="website">
    <meta property="og:title" content="{% if title is defined %}{{ title }} - {% endif %}{{ siteName }}">
    <meta property="og:image" content="">
    <meta property="og:description" content="Description Here">
    <meta property="og:site_name" content="{{ siteName }}">
    <meta property="og:locale" content="en_US">

    <!-- For IE 11, Chrome, Firefox, Safari, Opera -->
    <link rel="icon" href="path/to/favicon-16.png" sizes="16x16" type="image/png">
    <link rel="icon" href="path/to/favicon-32.png" sizes="32x32" type="image/png">
    <link rel="icon" href="path/to/favicon-48.png" sizes="48x48" type="image/png">
    <link rel="icon" href="path/to/favicon-62.png" sizes="62x62" type="image/png">

    <link href="https://fonts.googleapis.com/css?family=Roboto:400,400italic,700,700italic" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Noto+Serif:400,700" rel="stylesheet" type="text/css">
    <link href="{{ siteUrl }}build/assets/css/main.css" rel="stylesheet" type="text/css">
  </head>

  <body>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-6896893-6', 'auto');
      ga('send', 'pageview');
    </script>

    <div class="container">

      {% set uriSegment = craft.request.segment(1) %}

      <nav class="navigation js-header">
        <a href="{{ siteUrl }}" class="navigation__item{{ uriSegment == '' ? ' navigation__item--active' }}" title="About" data-title="About">
          About
        </a>
        <a href="{{ url('experience') }}" class="navigation__item{{ uriSegment == 'experience' ? ' navigation__item--active' }}" title="Experience" data-title="Experience">
          Experience
        </a>
        <a href="{{ url('education') }}" class="navigation__item{{ uriSegment == 'education' ? ' navigation__item--active' }}" title="Education" data-title="Education">
          Education
        </a>
      </nav>

      <main role="main">
        {% block content %}
        <p>If you see me, you haven’t set your <code>{% verbatim %}{% block content %}…{% endblock %}{% endverbatim %}</code> yet.</p>
        <p>See Twig’s <a href="http://twig.sensiolabs.org/doc/templates.html#template-inheritance">Template Inheritance</a> documentation for an explanation.</p>
        {% endblock %}
      </main>

      <footer class="footer fadeInUp js-waypointitem">
        This goes out to the whole wide website<br/>
        Copyright {{ now.year }} • Built with <a href="http://craftcms.com">Craft</a>
      </footer>
    </div>

    <script src="{{ siteUrl }}build/assets/js/app.min.js"></script>

  </body>
</html>
