{#
# Layout template
# ---------------
#
# This template defines your site’s global layout. It can be
# “extended” by other templates to fill in the gaps.
#
# See Twig’s Template Inheritance documentation for more details:
# http://twig.sensiolabs.org/doc/templates.html#template-inheritance
#}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <base href="{{ siteUrl }}">

    {% hook 'seomaticRender' %}

    <!-- For IE 11, Chrome, Firefox, Safari, Opera -->
    <link rel="icon" href="images/favicon/favicon-16.png" sizes="16x16" type="image/png">
    <link rel="icon" href="images/favicon/favicon-32.png" sizes="32x32" type="image/png">
    <link rel="icon" href="images/favicon/favicon-48.png" sizes="48x48" type="image/png">
    <link rel="icon" href="images/favicon/favicon-62.png" sizes="62x62" type="image/png">

    <link href="https://fonts.googleapis.com/css?family=Roboto:400,400italic,700,700italic" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Noto+Serif:400,700" rel="stylesheet" type="text/css">

    {# Let's use uncompressed CSS if we're in dev mode, for easier debugging: #}
    {% if craft.config.devMode %}
      <link rel="stylesheet" href="/styles/application.css"/>
    {% else %}
      <link rel="stylesheet" href="/styles/application.min.css"/>
    {% endif %}

  <body>

    <div class="container">

      {% include '_partials/_header' %}

      <main role="main">
        {% block content %}
        <p>If you see me, you haven’t set your <code>{% verbatim %}{% block content %}…{% endblock %}{% endverbatim %}</code> yet.</p>
        <p>See Twig’s <a href="http://twig.sensiolabs.org/doc/templates.html#template-inheritance">Template Inheritance</a> documentation for an explanation.</p>
        {% endblock %}
      </main>

    </div>

    {% include '_partials/_footer' %}
  	{% include '_partials/_scripts' %}

  </body>
</html>
