{#
 # Homepage template
 # ---------------
 #}

{% extends "_layout" %}

{% block content %}

  <div class="section">

    <div class="intro">
      <h2 class="intro--subtitle fadeInUp js-waypointitem">
        Front-end developer
      </h2>
      <h1 class="intro--title fadeInUp js-waypointitem">
        Danny Arntz
      </h1>

      <div class="intro--title-secundary">
        Curriculum Vitae
      </div>

      <div class="seperator--yellow fadeInLeft js-waypointitem"></div>

      <div class="intro--body fadeInUp js-waypointitem">
        {{ entry.body }}
      </div>
    </div>

  </div>

{% endblock %}
