@font-face {
  font-family: "Moderat";
  src: local("Moderat Medium"), local("Moderat--Medium"),
    url("./public/fonts/Moderat-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Moderat";
  src: local("Moderat Regular"), local("Moderat--Medium"),
    url("./public/fonts/Moderat-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
